{
  "presets": [
    // 设置typescript
    [
      "@babel/preset-typescript",
      {
        "allExtensions": true // 支持.js和.ts文件
      }
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-transform-runtime"
  ]
}