/learn-cbg/**/node_modules
/html/video/node_modules
/html/video/.vscode
/learn-cbg/new-node-server/dist
/jquery-module/node_modules
/promise/node_modules
/promise/dist
/html-component/node_modules
/html-component/dist
/babylon/node_modules
/vue/vue-ssr/node_modules
/vue/vue-ssr/server/node_modules
